.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
  margin-right: 8vmin;
  color: #F5F3F3;
}

a:active {
  color: #FF9400;
}

.header {
  background-color: rgba(20, 20, 20, 0.4);
  overflow: hidden;
  height: 50px;
  width: 100%;
  top: 0;
}

.head {
  display: inline;
  margin: 0 20% 0 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.logo {
  color: #EEE;
  font-size: 40px;
}

.zenbit-logo {
  align-content: left;
  display: inline;
}

.z-links {
  display: inline;
  margin: auto 0 auto auto;
  align-content: right;
  font-size: 20px;
}
