.App {
  text-align: center;
}

.app-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.head-content {
  font-size: 35px;
  color: #F5F3F3;
  margin-bottom: 100px;
}

.head-content-register {
  color: #FAC819;
}

.footer {
  margin-top: 40px;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  background-color: #FAC819;
  color: black;
  text-align: center;
}

.footer-info {
  margin: 0;
}

.head3 {
  color: #EEEEEE;
  font-size: 25px;
}

.head-register {
  color: #FF9400;
  font-size: 30px;
}

.chd {
  font-size: 20px;
  color: #FAC819;
}

.p-desc {
  font-size: 20px;
  color: #EEEEEE;
}

.p-desc-register {
  line-height: 1.5;
  font-size: 20px;
  color: #FAC819;
  text-align: justify;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
}

.task-container {
  display: flex;
  margin: 60px auto 0 auto;
}

.task-container-register {
  display: flex;
  margin: 100px auto 0 auto;
}

.videos {
  width: 60%; 
  height: 400px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F5F3F3;
}

.spaced-input {
  margin-top: 5px;
}

.form-view {
  background-color: #FAFAFA;
  border-radius: 10px;
}

.name-input {
  margin-top: 20px;
}

.form {
  margin-right: 10%;
  margin-left: 10%;
}

.form-text {
  font-size: 15px;
  line-height: 1.3;
  text-align: justify;
  display:inline-block;
  text-justify: inter-word;

}

.form-container {
  padding-top: 30px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 20px;
}

.info-view {
  margin-right: 50px;
}

.info-container {
  margin-top: 20%;
  margin-bottom: 20%;
  vertical-align: middle;

}

a {
  text-decoration: none;
  margin-right: 5vmin;
  color: #F5F3F3;
}

a:active {
  color: #FF9400;
}

.header {
  background-color: rgba(20, 20, 20, 0.4);
  overflow: hidden;
  height: 50px;
  width: 100%;
  top: 0;
}

.input-form {
  height: 25px;
  border: none;
  background-color: #EEE;
  font-size: 13px;
  border-radius: 5px;
}

::placeholder {
  color: #444;
}

.button-submit {
  border-radius: 10px;
  width: 100%;
  background-color: #FF9400;
  font-size: 17px;
  color: #FAFAFA;
  border: none;
  height: 40px;
  margin-top: 25px;
}

.head {
  display: inline;
  margin: 0 20% 0 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

label {
  font-size: 15px;
}

.logo {
  color: #EEE;
  font-size: 40px;
}

.zenbit-logo {
  align-content: left;
  display: inline;
}

.z-links {
  display: inline;
  margin: auto 0 auto auto;
  align-content: right;
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
